<div class="table-container">
    <table mat-table [dataSource]="dataSourceFactura" class="mat-elevation-z8">
      <!-- Definiciones de columnas -->
      <ng-container matColumnDef="plato">
        <th mat-header-cell *matHeaderCellDef> Plato </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.precio_unitario | currency}} </td>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef > Cantidad </th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element.cantidad}} </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.precio_unitario * element.cantidad | currency}} </td>
      </ng-container>
      <!-- Filas de datos -->
      <tr mat-header-row *matHeaderRowDef="displayedColumnsFactura"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsFactura;"></tr>
    </table>
  </div>
  